assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
.idea
config/db.php
api/config/params.php
config/params.php
vendor/
web/index.php
api/index.php
web/assets/
